<div class="container" id="container">
    <div class="block_div" style="width: 20%;">
        <div id="print_zones">
            <p>Price of ticket per zone: </p>
            <ul id="zones">

            </ul>
            <p style="display: inline-block;">Your reservations: </p>
            <ul id="selected">

            </ul>


        </div>
        <div id="chosen_tickets">

            <p id="total_price">Total price: </p>
        </div>
        <button id = "proceed"class="btn btn-primary" (click)="proceed()">Proceed</button>
        <button id = "cancel"class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
    <div class="block_div" id="right_div" style="width: 60%;">

    </div>

</div>
