.x{
position: absolute;
  float: right;
  background: red;
  color: white;
  top: 0px;
  right: 0px;
}

.adding_window {
  margin-top: 0%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 5%;
  float: left;
  width: 70%;
  display: block;
}

.zebra_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

td.zebra_table {
  text-align: left;
  padding: 20px;
}

tr.zebra_table:nth-child(even) {
  background-color:grey;
}

.errorMessage{ 
  color: red;
}

.day_display{
  border-style: ridge;
  padding: 5%;
}

.loader {
  position: absolute;
  margin-left: 35%;
  margin-top: 15%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display:none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
