.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

::ng-deep .my-class .modal-dialog { 
    max-width: 100%;
    width: 100%;
}

::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
    width: 80%;
}