.foo {
	width: 12px;
	height: 12px;
} 

.foo2 {
	width: 300px;
	height: 300px;
} 

.yellow {
	background: blueviolet
}

.x{
	position: absolute;
	float: right;
    background: red;
    color: white;
    top: 0px;
    right: 0px;
}

.my-full-screen-dialog {
    height: '100%';
    width: '100%';
  }



  .column {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 15px 15px 15px 30px;
    float: left;
    width: 30%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }