
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="form-signin" (ngSubmit)="saveChanges()">
         

          <h2 class="form-signin-heading">Edit profile</h2>
         
          <label><b>Name</b></label>
        
          <input type="text" id="name" class="form-control" name="name" [(ngModel)]="user.name"  #name="ngModel" placeholder="Name"
            required autofocus>
        
          <label><b>Surname</b></label>
          <input type="surname" id="surname" class="form-control" name="surname" [(ngModel)]="user.surname" placeholder="Surname"
            required>
        

        
          <label><b>Email</b></label>
          <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email"
              required autofocus>
        
          <label ><b>Username</b></label>
          <div class="divider"></div>
          <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user.username" placeholder="Username"
                  required autofocus>
        
          <br>
          <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password"
                          required autofocus>
          <br>
          <input type="password" id="repeatPassword" class="form-control" name="password" [(ngModel)]="repeatedPassword" placeholder="Repeat password"
                          required autofocus>
     
          <button class="btn btn-primary btn-block" type="submit">Save</button>
        </form>
       
        <div *ngIf=success class="alert alert-warning box-msg" role="alert">
            Username already taken.
        </div>
        <div *ngIf=noInput class="alert alert-warning box-msg" role="alert">
          Please fill all fields.
        </div>
        <div *ngIf=passwordsDoNotMatch class="alert alert-warning box-msg" role="alert">
            Passwords must match.
        </div>
     
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
