<div class="container">
    <div class="row">
    <!--<div class="col-md-3"></div>
      <div class="col-md-6"> -->
      
    <table class="table table-striped">
        <thead>
            <th colspan = "2" style="text-align: center;">Details</th>
        </thead>
        <tbody>
            <tr>
                <td><b>Name:</b></td>
                <td>{{event.name}}</td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td>{{event.status}}</td>
            </tr>
            <tr>
                <td><b>Type:</b></td>
                <td>{{event.type}}</td>
            </tr>
            <tr>
                <td><b>Paid tickets:</b></td>
                <td>{{paidTickets}}</td>
            </tr>
            <tr>
                <td><b>Reserved tickets:</b></td>
                <td>{{reservedTickets}}</td>
            </tr>

            <tr>
                <td><b>Maintenances:</b></td>

                <td>
                    <tr *ngFor="let m of maintRepr">
                        <b>from</b> {{m.from}} <br>
                        <b>to</b> {{m.to}}<br>
                        <b>expiry</b> {{m.expiry}}
                        <br><br>
                    </tr> 
                </td>
               
            </tr>


            <tr>
                <td><b>Location:</b></td>
                <td>{{event.locationInfo.name}} &nbsp; &nbsp; <button class="btn btn-primary" (click)="showDetails(event.locationInfo)">Show details</button></td>
                <!-- <td><button class="btn btn-primary" (click)="showDetails(event.locationInfo)">Show details</button></td> -->
            </tr>
            <tr>
                <td><b>Picture:</b></td>
                <td>some pictrue</td>
                <!-- <td><button class="btn btn-primary" (click)="showDetails(event.locationInfo)">Show details</button></td> -->
            </tr>
            <tr>
                <td><b>Video:</b></td>
                <td>some video</td>
                <!-- <td><button class="btn btn-primary" (click)="showDetails(event.locationInfo)">Show details</button></td> -->
            </tr>

            <tr>
                <td  style="text-align: center;">
                    <ngb-tab title="Reserve" id="reserve" *ngIf="loggedUser && loggedUser.userRoleName === 'ROLE_USER'">
              
                        <button  class="btn btn-primary" (click)="reserve(event)" >Reserve</button>
                           
                     </ngb-tab>
                </td>

                <td  style="text-align: center;">
                    <button  class="btn btn-danger" (click)="close()">Close</button>
                </td>
            </tr>

            
        </tbody>
    </table>
        
      <!-- </div> -->
      <!-- <div class="col-md-3"></div> -->
    </div>
  </div> 




